body {
  font-family: "Roboto", sans-serif; /* Cambio de fuente a una más moderna */
  margin: 0;
  padding: 0;
  background-color: #121212; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

header {
  background: #292929;
  color: #fff;
  padding: 20px 60px;
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li :hover {
  border-bottom: 1px solid #fff;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px 0;
  text-align: center;
}

.dropbtn {
  background-color: #121212;
  padding: 2px 5px;
}

/* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  padding: 20px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

h2 {
  font-size: 2em;
  text-align: center;
}

.preguntas {
  text-align: left;
  font-size: 1.2em;
}

.pregunta {
  background-color: #f9f9f9;
  padding: 10px 10px 10px 20px;
  margin-bottom: 10px;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.logo-name {
  text-decoration: none;
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-down {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label,
input,
textarea,
button {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

input[type="text"],
input[type="password"],
textarea {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  resize: vertical;
  max-height: 200px; /* Altura máxima de 200px */
  overflow-y: auto;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.pregunta {
  margin: 0 auto;
  margin-top: 2%;
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.pregunta p {
  width: 80%;
  font-size: 1.2em;
}

.responder {
  margin-top: 15px;
}

.btn-responder-pregunta {
  border-radius: 5px;
  border: 2px solid #fff;
  padding: 10px;
  transition: transform 0.2s;
  font-weight: bold;
}

.btn-responder-pregunta:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.respuestas {
  width: 70%;
  margin: 0 auto;
}

.respuestas h3 {
  font-size: 1.4em;
}

.respuestas .respuesta {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 5px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

.mostrar-pregunta-Enrespuesta {
  font-size: 1.5em;
  text-align: center;
}

.mostrar-contenido-Enrespuesta {
  margin: 0 auto;
  width: 60%;
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 25px;
}